main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    display: grid;
    place-items: center;

    width: 33vw;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
}

p {
    font-size: 1.33em;
  }